:host {
    display: flex;
    flex-direction: column;

    > .header {
        padding: 5px 15px 0 20px;
        display: flex;
        align-items: center;
        flex: none;
    }

    > .filter-bar {
        flex: none;
    }

    > .body {
        padding: 10px 20px;
        flex: 1 1 0;
        overflow-y: auto;
    }

    .breadcrumb {
        background: none;
        padding: 0;
        margin: 0;
    }

    .breadcrumb-item {
        cursor: pointer;
    }

    .breadcrumb-item:first-child {
        font-weight: bold;
    }

    .list-group-item {
        padding: 3px 8px;
        font-size: 12px;
    }

    .list-group-item-action {
        &:hover {
            background: rgba(white, .05);
        }
    }

    .item-name {
        flex: 1 1 auto;
        min-width: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .mode, .size, .date {
        font-family: monospace;
        opacity: .55;
        font-size: 11px;
        text-align: right;
        margin-left: 12px;
        flex: none;
        white-space: nowrap;
    }
}

.btn-link svg {
    width: 12px;
}
